#h{
    position: relative;
    left: 354.5px;
    height: 300px;
    width: 600px;
    background: rgb(188, 164, 211);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 72px;
    border: 5px black ;
    border-style: groove;
    color: aquamarine;
}
.b{
    position: relative;
    left: 380px;
    margin: 30px 90px;
    height: 50px;
    width: 100px;
    border: 2px solid rgb(202, 197, 197) ;
}